/* Website template by freewebsitetemplates.com */
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
body #page {
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}
a {
    text-decoration: none;
    outline: none;
}
a:active {
    background: none;
}
img {
    border: none;
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
#header div {
    margin: 0 auto;
    max-width: 940px;
    min-height: 227px;
    padding: 0 10px;
}
#header div a.logo {
    display: block;
    float: left;
    height: 106px;
    margin: 44px 0 0;
    padding: 0;
    width: 320px;
}
#header div a.logo img {
    display: block;
    margin: 0;
    padding: 0;
    width: auto;
}
#header div ul {
    display: block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    max-width: 501px;
    padding: 102px 0 20px;
    text-align: center;
}
#header div ul li {
    display: inline-block;
    *float: left; /* Needed for IE7 and old versions */
    margin: 0 0 0 37px;
    padding: 0;
    width: auto;
}
#header div ul li a {
    color: #000000;
    font-family: "Arial Black";
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
    color: #fb416f;
}
#header div ul li a:hover {
    color: #16ab88;
}
#header div ul li ul {
    display: none;
}
#header span#mobile-navigation, #header span#mobile-submenu, #header div ul li ul {
    display: none;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body {
    background: url(../images/bg-home.jpeg) no-repeat center top;
    border-top: 2px solid #252525;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
#body.home div {
    background: none;
    margin: 0;
    max-width: none;
    padding: 0 0 54px;
    width: 100%;
}
#body.home div.header div {
    background: none;
    margin: 0 auto;
    max-width: 960px;
    padding: 74px 0 0;
}
#body.home div.header div h1 {
    background: none;
    color: #ffffff;
    display: block;
    font-family: 'Arial Black';
    font-size: 110px;
    font-weight: normal;
    line-height: 96px;
    margin: 0 auto 32px;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 89.5833%;
}
#body.home div.header div span {
    display: block;
    margin: 0 auto 52px;
    max-width: 350px;
    overflow: hidden;
    padding: 0;
    width: 37.4583%;
}
#body.home div.header div span a.email {
    border: 5px solid #000000;
    color: #000000;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    height: 47px;
    line-height: 47px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 63.142857142857%;
}
#body.home div.header div span a.signup {
    border: 5px solid #000000;
    border-left: none;
    color: #000000;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    height: 47px;
    line-height: 47px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    width: 32.571428571429%;
}
#body.home div.header div img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 97.9167%;
}
#body.home div.body {
    background: url(../images/bg-transparent1.png) repeat;
    margin: 0;
    padding: 0;
    width: 100%;
}
#body.home div.body div {
    background: none;
    margin: 0 auto;
    max-width: 960px;
    padding: 54px 0 86px;
}
#body.home div.body div h1 {
    background: url(../images/bg-border1.gif) no-repeat center bottom;
    color: #FFFFFF;
    font-family: 'Arial Black';
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 0 0 50px;
    text-align: center;
    text-transform: uppercase;
}
#map {
    height: 500px;
    width: 100%;
    margin: 20px 0;
    position: relative;
    overflow: visible;
}
/*----------------------------------------body-styles---------------------------------------*/
#body div {
    background: url(../images/bg-transparent2.png) repeat;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 58px 0 4px;
}
#body.running div {
    padding: 58px 0 161px;
}
#body div h1 {
    background: url(../images/bg-border2.gif) no-repeat center bottom;
    color: #FC416F;
    font-family: 'Arial Black';
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
}
#body div img {
    display: block;
    margin: 68px auto 47px;
    padding: 0;
    width: auto;
}
#body.runningsinglepost div img {
    display: block;
    margin: 68px auto 73px;
    padding: 0;
    width: auto;
}
#body.runningsinglepost div h3 {
    padding: 17px 0 0;
}
#body.runningsinglepost div h3 span {
    padding: 0 0 12px;
}
#body.runningsinglepost div p {
    margin: 0 auto 10px;
}
#body div p {
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.01em;
    line-height: 48px;
    margin: 0 auto 37px;
    padding: 0;
    text-align: center;
    width: 765px;
}
#body div p span {
    color: #FFFFFF;
   

